.divContainer{
    width: 50%;
    height: 50%;
}

.buttonContainer{
    width: 80px;
}

.inputContainer{
    width: 95%;
}

.buttonAdd{
    width: 50px;
    margin-left: 670px;
    margin-top: 10px;
}
